body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid_2_2 {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: repeat(2, 200px);
  gap: 50px;
  padding: 50px;
  justify-items: center;
  align-items: center;
  border: 1px solid red;
  border-radius: 10%;
}

img {
  height: 100%;
  width: auto;
  /* padding: 20px;
  margin: 10px; */
}

img:hover {
  cursor: pointer;
  animation-name: hoverImg;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes hoverImg {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
