* {
  margin: 0;
  padding: 0;
}

main {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1em;
  column-gap: 1.3em;
}

h1 {
  text-align: center;
  margin: 1rem;
}

.filter {
  display: flex;
  margin-inline: auto;
  justify-content: center;
}

.billede {
  width: 50%;
  aspect-ratio: 1/1;
  object-fit: contain;
  align-self: center;
}

.billede:hover {
  animation-name: scaleImg;
  animation-duration: 700ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

@keyframes scaleImg {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}

article {
  padding: 10px;
  border: 1px solid rgba(18, 116, 208, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

article:hover {
  border: 1px solid rgb(7, 89, 167);
}

main article:hover {
  cursor: pointer;
}

h2,
h3,
p {
  text-align: center;
}

button {
  background-color: #fff;
  padding: 0.5rem 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  transition: all 250ms;
  margin-inline: 0.5rem;
}

button:hover,
button:focus,
.valgt {
  background-color: rgba(18, 116, 208, 0.25);
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

button:focus,
.valgt {
  transform: translateY(-1px);
}

button:active {
  background-color: #1274d0;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

#popup {
  /* display: none; */
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: scroll;
}

#popup article {
  width: 80vw;
  display: flex;
  margin: 4rem auto;
  border-radius: 25px;
  padding: 12px;
  background-color: #fff;
}

#close {
  position: fixed;
  padding: 1em;
  font-size: 1.7em;
  font-weight: bolder;
  color: white;
  cursor: pointer;
}

.hide {
  display: none;
}

@media screen and (max-width: 800px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}
